body,*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.head-bar{ 
    width: 100%;
    height: auto;
    /* background-color: rgb(26, 27, 27); */
    /* overflow: scroll; */
}

.head-top-bar{
    width: 100%;
    height: 1.7rem;
    display: flex;
    justify-content: right;
    /* background-color: aqua; */
}

.head-top-bar-right{
    width: 300px;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
}

.head-top-bar-right > span{
    display: flex;
    justify-content: space-between;
    width: 200px;
}

.head-menu{
    width: 100%;
    height: 2.3rem;
    display: flex;
    justify-content: space-evenly;
    background-color: #e87d0e;
}

.head-menu-bar{
    width: 800px;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.head-menu-logo{
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
}


.head-menu-bar > a{
    text-decoration: none;
    color: white;
    width: 100px;
    height: 2rem;
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    cursor: pointer;
}

.head-menu-bar > a:hover{
    background-color: #ffffff;
    color: #e87d0e;
}


.header-banner{
    width: 100%;
    height: 85vh;
    position: relative;
    /* background-color: black; */
}

.header-banner > img{
    width: 100%;
    height: 60vh;
    position: absolute;
    left: 0;
    bottom: 0;
}

.header-banner-content{
    z-index: 6;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 0 0 10vw;
}

.header-banner-content > img{
    width: 45%;
    height: 70%;
}

.header-banner-content-text{
    display: flex;
    height: 80%;
    width: 40%;
    align-items: left;
    justify-content: space-evenly;
    flex-direction: column;
} 

.header-banner-content-text > .btn{
    width: 150px;
    height: 50px;
    background-color: #e87d0e;
    display: flex;
    align-items:center;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 10px;
    color: white;
}

.header-banner-content-text P:nth-child(1){
    color: #e87d0e;
}

.header-banner-content-text h2{
    font-weight: 600;
    font-size: 50px;
}

.section{
    height: auto;
    width: 100%;
    padding: 50px 0 0 0;
}

.section > h2{
    margin: 0 auto;
    width: 50%;
    text-align: center;
}

.section-left-text{
    width: 100%;
    height: 600px;
    padding: 0 0 0 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: left;
    flex-direction: column;
}

.section-left-text > P{
    width: 40%;
    height: auto;
}

.section-left-img{
    height: 450px;
    width: 100%;  
    padding: 50px 0 0 0; 
}

.section-left-img > img{
    width: 800px;
    height: 400px;
}